<p></p>
 <ng2-md-datatable selectable>
  <ng2-md-datatable-header>
    <ng2-md-datatable-column sortValue="article" class="thTitle">Domain</ng2-md-datatable-column>
    <ng2-md-datatable-column sortValue="product" class="thTitle">Participant ID</ng2-md-datatable-column>
    <ng2-md-datatable-column sortValue="quantity" class="thTitle">Interface</ng2-md-datatable-column>
    <ng2-md-datatable-column sortValue="quantity" class="thTitle">Interface version</ng2-md-datatable-column>
    <ng2-md-datatable-column sortValue="quantity" class="thTitle">Last seen</ng2-md-datatable-column>
    <ng2-md-datatable-column sortValue="quantity" class="thTitle">Details</ng2-md-datatable-column>
  </ng2-md-datatable-header>
  <tbody>
    <ng2-md-datatable-row *ngFor="let element of elements" selectableValue="{{element.participantId}}">
      <td>{{element.domain}}</td>
      <td class="myColumn140">{{element.participantId}}</td>
      <td class="myColumn140">{{element.interfaceName}}</td>
      <td class="myColumn140">{{element.providerVersion.majorVersion}}</td>
      <td class="date">{{element.lastSeenDateMs}}</td>
      <td>
        <button md-button (click)="openDialog(element)">Details</button>
      </td>
    </ng2-md-datatable-row>
  </tbody>
</ng2-md-datatable>
